{% extends "music/index.html" %}
{% load static %}


<title>
    {% block title %}
        {{ string }}
    {% endblock title %}
</title>


{% block content %}   
{% if string == "latest albums" %}
    <div class="album-container">
        <!-- <h1>{{ string }}</h1> -->
        <h1>
            Latest albums
            <a href="{% url 'music:home-header-genres' %}?string={{ string }}">See by genres</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, earum!</p>
        </h1>
        <div class="albums">
            {% for album in latest_albums %}
                <div class="album-wrapper">
                    <img src="{{ album.album_cover.url }}" alt="">

                    <div class="background-overlay"></div>

                    <div class="album-text-wrapper">
                        <h2>{{ album.title }}
                            <i class="fa-solid fa-music"></i>
                            <span>{{album.song_set.count}}</span>
                        </h2>
                        <p style="flex: 0 0 100%; color: rgb(180, 180, 180); margin-top: 0.3rem; text-transform: capitalize;
                            font-size: 14px;">{{ album.choose_genre }}</p>
                        <div class="flex-box">

                            <div class="album-author">
                                <i class="fas fa-user-circle"></i>
                                <p>{{ album.user.username }}</p>
                            </div>

                            <div class="thumbs-up-down">
                                <a id="prevent-default" class="thumbs-up" href="#">
                                    <i class="fas fa-thumbs-up"></i>
                                    <p>{{ album.thumbs_up }}</p>
                                </a>
                                <a id="prevent-default" class="thumbs-down" href="#">
                                    <p>{{ album.thumbs_down }}</p>
                                    <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                                </a>
                            </div>

                        </div>

                    </div>

                    <a class="play-btn" href="{% url 'music:play-album' album.pk %}"><i class="fa-solid fa-play"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- RECENTLY PLAYED ALBUMS -->
{% if string == "recently played" %}
    <div class="album-container">
        <!-- <h1>{{ string }}</h1> -->
        <h1>
            Recently played
            <a href="{% url 'music:home-header-genres' %}?string={{ string }}">See by genres</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, earum!</p>
        </h1>
        <div class="albums">
            {% for album in recently_played %}
                <div class="album-wrapper">
                    <img src="{{ album.album.album_cover.url }}" alt="">

                    <div class="background-overlay"></div>

                    <div class="album-text-wrapper">
                        <h2>{{ album.album.title }}
                            <i class="fa-solid fa-music"></i>
                            <span>{{album.album.song_set.count}}</span>
                        </h2>
                        <p style="flex: 0 0 100%; color: rgb(180, 180, 180); margin-top: 0.3rem; text-transform: capitalize;
                            font-size: 14px;">{{ album.album.choose_genre }}</p>

                        <div class="flex-box">

                            <div class="album-author">
                                <i class="fas fa-user-circle"></i>
                                <p>{{ album.album.user.username }}</p>
                            </div>

                            <div class="thumbs-up-down">
                                <a id="prevent-default" class="thumbs-up" href="{% url 'music:like' album.pk %}">
                                    <i class="fas fa-thumbs-up"></i>
                                    <p>{{ album.album.thumbs_up }}</p>
                                </a>
                                <a id="prevent-default" class="thumbs-down" href="{% url 'music:dislike' album.pk %}">
                                    <p>{{ album.album.thumbs_down }}</p>
                                    <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                                </a>
                            </div>

                        </div>

                    </div>

                    <a class="play-btn" href="{% url 'music:play-album' album.album.pk %}"><i class="fa-solid fa-play"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- MOST LISTENED -->
{% if string == "most listened" %}
    <div class="album-container">
        <!-- <h1>{{ string }}</h1> -->
        <h1>Most listened
            <a href="{% url 'music:home-header-genres' %}?string={{ string }}">See by genres</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, earum!</p>
        </h1>
        <div class="albums">
            {% for album in most_listened %}
                <div class="album-wrapper">
                    <img src="{{ album.album_cover.url }}" alt="">

                    <div class="background-overlay"></div>

                    <div class="album-text-wrapper">
                        <h2>{{ album.title }}
                            <i class="fa-solid fa-music"></i>
                            <span>{{album.song_set.count}}</span>
                        </h2>
                        <p style="flex: 0 0 100%; color: rgb(180, 180, 180); margin-top: 0.3rem; text-transform: capitalize;
                            font-size: 14px;">{{ album.choose_genre }}</p>
                        <div class="flex-box">

                            <div class="album-author">
                                <i class="fas fa-user-circle"></i>
                                <p>{{ album.user.username }}</p>
                            </div>

                            <div class="thumbs-up-down">
                                <a id="prevent-default" class="thumbs-up" href="#">
                                    <i class="fas fa-thumbs-up"></i>
                                    <p>{{ album.thumbs_up }}</p>
                                </a>
                                <a id="prevent-default" class="thumbs-down" href="#">
                                    <p>{{ album.thumbs_down }}</p>
                                    <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                                </a>
                            </div>

                        </div>

                    </div>

                    <a class="play-btn" href="{% url 'music:play-album' album.pk %}"><i class="fa-solid fa-play"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<!-- YOU MIGHT ALSO LIKE -->
{% if string == "you might also like" %}
    <div class="album-container">
        <!-- <h1>{{ string }}</h1> -->
        <h1>You might also like
            <a href="{% url 'music:home-header-genres' %}?string={{ string }}">See by genres</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, earum!</p>
        </h1>
        <div class="albums">
            {% for album in you_might_also_like %}
                <div class="album-wrapper">
                    <img src="{{ album.album_cover.url }}" alt="">

                    <div class="background-overlay"></div>

                    <div class="album-text-wrapper">
                        <h2>{{ album.title }}
                            <i class="fa-solid fa-music"></i>
                            <span>{{album.song_set.count}}</span>
                        </h2>
                        <p style="flex: 0 0 100%; color: rgb(180, 180, 180); margin-top: 0.3rem; text-transform: capitalize;
                            font-size: 14px;">{{ album.choose_genre }}</p>
                        <div class="flex-box">

                            <div class="album-author">
                                <i class="fas fa-user-circle"></i>
                                <p>{{ album.user.username }}</p>
                            </div>

                            <div class="thumbs-up-down">
                                <a id="prevent-default" class="thumbs-up" href="#">
                                    <i class="fas fa-thumbs-up"></i>
                                    <p>{{ album.thumbs_up }}</p>
                                </a>
                                <a id="prevent-default" class="thumbs-down" href="#">
                                    <p>{{ album.thumbs_down }}</p>
                                    <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                                </a>
                            </div>

                        </div>

                    </div>

                    <a class="play-btn" href="{% url 'music:play-album' album.pk %}"><i class="fa-solid fa-play"></i></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}


{% endblock content %}
