{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
    <title>Playing {{ album.title }}</title>
</head>
<body>
    <div class="play-album">
        <div class="play-album-player">

            <div style="padding: 1.5rem; padding-bottom: 1rem;">

                <div class="play-album-wrapper">
                    <div class="play-album-img">
                        <img src="{{ album.album_cover.url }}" alt="">
                    </div>
                    <div class="play-album-background-overlay"></div>
                    <div class="play-album-text-wrapper">
                        <div class="play-album-user">
                            <i class="fas fa-user-circle"></i>
                            <p>{{ album.user }}</p>
                        </div>
                        <div class="play-album-info">
                            <p>{{ album.title }}</p>
                            <div class="thumbs-up-down">
                                <a class="thumbs-up" href="{% url 'music:like' album.pk %}">
                                    <i class="fas fa-thumbs-up"></i>
                                    <p>{{ album.thumbs_up }}</p>
                                </a>
                                <a class="thumbs-down" href="{% url 'music:dislike' album.pk %}">
                                    <p>{{ album.thumbs_down }}</p>
                                    <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="play-album-toggle-btns">
                    <i class="fa fa-bars play-album-show-btn"></i>
                    <i class="fa fa-times play-album-hide-btn"></i>
                </div>

            </div>
            <div class="play-album-control">
                <i id="random-btn" class="fas fa-random" title="random"></i>
                <i id="backward-btn" class="fas fa-backward" title="backward"></i>
                <div class="album-play-btn" title="play">
                    <i id="play-btn" class="fas fa-play"></i>
                </div>
                <div class="album-pause-btn" title="pause">
                    <i id="pause-btn" class="fas fa-pause"></i>
                </div>
                <i id="forward-btn" class="fas fa-forward" title="forward"></i>
                <i id="redo-btn" class="fas fa-redo-alt" title="redo"></i>
            </div>
            <div class="progres-bar-container">
                <p class="initial-time">0:00</p>
                <progress class="duration-bar" id="progress" value="0"></progress>
                <p class="end-time">0:00</p>
            </div>
            <div class="play-album-side-menu">
                <p class="song-list-toggle">See Song List</p>
                <p class="close-song-list-toggle">Close Song List</p>
                <a href="{% url 'music:home' %}">Home</a>
                <a href="{% url 'music:all-albums' 'latest albums' %}">Latest Albums</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'music:all-albums' 'recently played'%}">Recently Played</a>
                {% endif %}
            </div>
             <!-- <div class="play-album-toggle-btns">
                <i class="fa fa-bars play-album-show-btn"></i>
                <i class="fa fa-times play-album-hide-btn"></i>
            </div> -->
        </div>
        <div class="song-container">
            <div class="hide-songs song">
                <i class="fas fa-chevron-up"></i>
                <p>hide songs</p>
            </div>
            <div style="border-radius: 8px; padding: 0 1.5rem; background: rgb(61, 61, 61);">
                <div class="song-header song">
                    <p>#<span>Title</span></p>
                    <i class="fas fa-clock"></i>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">1</p>
                            <p class="title">Hey you where have you been?</p>
                        </div>
                    </div>
                    <p>4:30</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">2</p>
                            <p class="title">Good old days I remember</p>
                        </div>
                    </div>
                    <p>3:10</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">3</p>
                            <p class="title">It's going to be a great day</p>
                        </div>
                    </div>
                    <p>4:15</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">4</p>
                            <p class="title">Hey you where have you been?</p>
                        </div>
                    </div>
                    <p>4:30</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">5</p>
                            <p class="title">Good old days I remember</p>
                        </div>
                    </div>
                    <p>3:10</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">6</p>
                            <p class="title">It's going to be a great day</p>
                        </div>
                    </div>
                    <p>4:15</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">7</p>
                            <p class="title">Hey you where have you been?</p>
                        </div>
                    </div>
                    <p>4:30</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">8</p>
                            <p class="title">Good old days I remember</p>
                        </div>
                    </div>
                    <p>3:10</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">9</p>
                            <p class="title">It's going to be a great day</p>
                        </div>
                    </div>
                    <p>4:15</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">10</p>
                            <p class="title">Hey you where have you been?</p>
                        </div>
                    </div>
                    <p>4:30</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">11</p>
                            <p class="title">Good old days I remember</p>
                        </div>
                    </div>
                    <p>3:10</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">12</p>
                            <p class="title">It's going to be a great day</p>
                        </div>
                    </div>
                    <p>4:15</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">13</p>
                            <p class="title">Hey you where have you been?</p>
                        </div>
                    </div>
                    <p>4:30</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">14</p>
                            <p class="title">Good old days I remember</p>
                        </div>
                    </div>
                    <p>3:10</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">15</p>
                            <p class="title">It's going to be a great day</p>
                        </div>
                    </div>
                    <p>4:15</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">16</p>
                            <p class="title">Hey you where have you been?</p>
                        </div>
                    </div>
                    <p>4:30</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">17</p>
                            <p class="title">Good old days I remember</p>
                        </div>
                    </div>
                    <p>3:10</p>
                </div>
                <div class="songs song">
                    <div class="song-wrapper">
                        <i class="fas fa-pause pause-icon"></i>
                        <i class="fas fa-play play-icon"></i>
                        <div class="play-song-title">
                            <p class="track">18</p>
                            <p class="title">It's going to be a great day</p>
                        </div>
                    </div>
                    <p>4:15</p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        const albumPlayBtn = document.querySelector(".album-play-btn")
        const albumPauseBtn = document.querySelector(".album-pause-btn")
        const songListToggle = document.querySelector(".song-list-toggle")
        const closeSongListToggle = document.querySelector(".close-song-list-toggle")
        const songContainer = document.querySelector(".song-container")
        const playAlbumSideMenu = document.querySelector(".play-album-side-menu")
        const playAlbumShowBtn = document.querySelector(".play-album-show-btn")
        const playAlbumHideBtn = document.querySelector(".play-album-hide-btn")
        const playAlbum = document.querySelector(".play-album")
        const hideSongs = document.querySelector(".hide-songs")
        const playIcon = document.querySelectorAll(".play-icon")
        const pauseIcon = document.querySelectorAll(".pause-icon")
        const track = document.querySelectorAll(".track")
        const songs = document.querySelectorAll(".songs")

        albumPlayBtn.addEventListener("click", function(event){
            event.currentTarget.style.display = "none"
            albumPauseBtn.style.display = "block"
        })

        albumPauseBtn.addEventListener("click", function(event){
            event.currentTarget.style.display = "none"
            albumPlayBtn.style.display = "block"
        })

        songListToggle.addEventListener("click", ()=>{
            songContainer.classList.toggle("show-song-container")
            playAlbum.style.height = "inherit"
            songListToggle.style.display = "none"
            closeSongListToggle.style.display = "block"
            playAlbumSideMenu.classList.toggle("show-side-menu")
            playAlbumHideBtn.style.display = "none"
            playAlbumShowBtn.style.display = "block"
        })

        closeSongListToggle.addEventListener("click", ()=>{
            closeSongListToggle.style.display = "none"
            songContainer.classList.remove("show-song-container")
            playAlbum.style.height = "100vh"
            songListToggle.style.display = "block"
            playAlbumSideMenu.classList.toggle("show-side-menu")
            playAlbumHideBtn.style.display = "none"
            playAlbumShowBtn.style.display = "block"
        })

        playAlbumShowBtn.addEventListener("click", function(){
            playAlbumSideMenu.classList.toggle("show-side-menu")
            playAlbumShowBtn.style.display = "none"
            playAlbumHideBtn.style.display = "block"
        })

        playAlbumHideBtn.addEventListener("click", function(){
            playAlbumSideMenu.classList.toggle("show-side-menu")
            playAlbumShowBtn.style.display = "block"
            playAlbumHideBtn.style.display = "none"
        })

        

        hideSongs.addEventListener("click", function(){
            songContainer.classList.remove("show-song-container")
            playAlbum.style.height = "100vh"
            closeSongListToggle.style.display = "none"
            songListToggle.style.display = "block"
        })

        for(let i=0; i < songs.length; i++) {
            songs[i].addEventListener("click", function(event){
                pauseIcon.forEach(function(item) {
                    item.style.display = "none"
                })
                track.forEach(function(item) {
                    item.style.display = "inline-block"
                })
                event.currentTarget.firstElementChild.lastElementChild.firstElementChild.style.display = "none"
                event.currentTarget.firstElementChild.firstElementChild.style.display = "inline-block"
                event.currentTarget.firstElementChild.children[1].style.display = "none"
            })
        }

        songs.forEach((item)=>{
            item.addEventListener("mouseenter", (event)=>{
                if(event.currentTarget.firstElementChild.firstElementChild.style.display == "inline-block"){
                    secondChild = event.currentTarget.firstElementChild.children[1]
                    secondChild.style.display = "none"
                }
                else{
                    secondChild = event.currentTarget.firstElementChild.children[1]
                    secondChild.style.display = "inline-block"

                    firstChild = event.currentTarget.firstElementChild.children[2].firstElementChild
                    firstChild.style.display = "none"
                }
               
            })
            item.addEventListener("mouseleave", (event)=>{
                if(event.currentTarget.firstElementChild.firstElementChild.style.display == "inline-block"){
                    firstChild = event.currentTarget.firstElementChild.children[2].firstElementChild
                    firstChild.style.display = "none"
                }
                else{
                    secondChild = event.currentTarget.firstElementChild.children[1]
                    secondChild.style.display = "none"

                    firstChild = event.currentTarget.firstElementChild.children[2].firstElementChild
                    firstChild.style.display = "inline-block"
                }  
            })
        })
    </script>
</body>
</html>