{% extends "music/index.html" %}
{% load static %}
{% load crispy_forms_tags %}

<title>
    {% block title %}
        {{ user.username }} profile
    {% endblock title %}
</title>

{% block content %}

    <style>
        .user-info-container {
            /*position: absolute;
            left: 0;
            width: 100vw;*/
            /*border: 1px solid white;*/

            
            padding: 2rem 0;
            background: rgb(52, 52, 52);

            /* ANIMATION */
            /*animation-name: user-info;
            animation-timing-function: linear;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-duration: 0.7s;*/
        }

       /* @keyframes user-info {
            from {
               top: -100%
            }
            to {
                top: 50%;
                transform: translateY(-50%);
            }
        }*/

        .user-info-wrapper {
            /* background: rgb(45 45 45);
            padding: 1rem; */
            width: 90vw;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgb(52, 52, 52);
        }

        .user-img-wrapper > img {
            width: 200px;
            height: 200px;
            display: block;
            border-radius: 50%;
            box-shadow: 2px 2px 18px 0px rgb(0, 0, 0);
        }

        .user-personal-data {
            color: white;
            /*text-align: center;*/
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 1rem;
            /* border: 1px solid white; */

        }

        .user-personal-data > p {
            margin: 0;
            padding: 0;
            /* padding: 0.5rem; */
            font-weight: bold;
            font-size: 4rem;
            letter-spacing: 0.07rem;
            text-transform: capitalize;
            color: rgb(224, 224, 224);
            padding: 0.5rem 1rem;
            /* border: 1px solid white; */
        }

        .user-update-btns {
            flex: 0 0 100%;
            padding: 0 1rem;
            /* border: 1px solid white; */
        }
        
        .user-update-btns >
        .user-update-btn {
            /* padding: 0.6rem 1rem; */
            letter-spacing: 0.06rem;
            color: rgb(255, 2, 2);
            /* border-radius: 10px;
            background: orangered; */
            /* border-bottom: 1px solid rgb(192, 51, 0); */
        }
    </style>


    <div class="user-info-container">
        <div class="user-info-wrapper">
            <div class="user-img-wrapper">
                <img src="{{ user.profile.image.url }}" alt="profile picture">
            </div>
            <div class="user-personal-data">
                <!-- <p><i class="fas fa-user"></i> {{ user.profile.name }}</p>
                <p><i class="fa-solid fa-map"></i>{{ user.profile.location }}</p> -->
                <p>{{ user.username }}</p>
                <!-- <p>Email: {{ user.email }}</p> -->
                <div class="user-update-btns">
                    <a href="" class="user-update-btn btn">Update</a>
                    <!-- <a href="{% url 'music:home' %}" class="profile-cancel btn">Cancel</a> -->
                </div>
            </div>
        </div>
            {% comment %}
            <!-- <div id="profile-update-form">
                <h3 style="color: white; margin-bottom: 1rem; letter-spacing: 0.06rem; font-weight: normal">Update user information</h3>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profile-update-form">
                        {{ profile_update_form|crispy }}
                    </div>
                    <div class="user-update-form">
                        {{ user_update_form|crispy }}
                    </div>
                    <div class="profile-btns">
                        <a href="{% url 'users:user-profile' user.pk %}?string={{ user.pk }}" class="profile-update btn">Update</a>
                        <a href="{% url 'music:home' %}" class="profile-cancel btn">Cancel</a>
                    </div>
                </form>
            </div> -->
            {% endcomment %}
    </div>
    <h1>Profile page</h1>
    <br>
    <h1>Profile page</h1>
{% endblock content%}
