{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{ static 'music/style.css' }">

    <title>{{ user.username }} profile</title>

    <style>
        .profile-container {
            position: relative;
        }
    </style>
</head>
<body>
    <header></header>
    <main>
        <div class="profile-container">
            <div class="profile-wrapper">
                <img src="{{ user.profile.image.url }}" alt="" class="profile-img">
                <div class="profile-info">

                </div>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>