*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body {
    width: auto!important; 
    overflow-x: hidden!important;
    height: auto !important;
    scroll-behavior: smooth;
    /* overscroll-behavior-y: none !important; */
} 

body {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    height: 100%;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: white;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style-type: none;
}

.main-background {
    background:rgb(31, 31, 31)
}

.active {
    color: rgb(255, 115, 0) !important
}

/*===========
LANDIING PAGE
============= */

.hide-overflow {
    overflow: hidden;
}

.landing-page-img {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("images/landing_page.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.landing-page-nav-container {
    background: transparent !important;
}

.landing-page-my-brand-container {
    background: transparent !important;
}

.landing-page-header-and-text {
    position: relative;
    height: calc(100vh - 86.4px);
    margin: 0;
    padding: 0;
}

.adjust-landing-page-header-and-text {
    height: calc(100vh - 370.4px);
}

.landing-page-header-container {
    position: absolute;
    width: 614px;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.landing-page-text-wrapper {
    margin: 0 auto;
    flex: 0 0 100%;
}

.landing-page-header {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
    font-family: 'Roboto', sans-serif;
}

.landing-page-text-content {
    margin-top: 1rem;
}

.landing-page-text-content >
.landing-page-text {
    font-size: 1.1rem;
    color: rgb(170, 170, 170);
    letter-spacing: 0.06rem;
    line-height: 1.7;
   
}

.landing-page-join-btn {
    margin-top: 1rem;
    flex: 0 0 100%
}

.landing-page-join-btn > a {
    padding: 0.9rem 0;
    width: 170.49px;
    background: rgb(255, 72, 0);
    color: rgb(255, 255, 255);
    letter-spacing: 0.06rem;
    border-radius: 23px;
    font-size: 1.1rem;
    text-align: center;
    transition: background 0.15s linear
}

.landing-page-join-btn > a > i {
    font-size: 0.8rem;
    padding-left: 0.3rem;
}

.landing-page-join-btn > p {
    color: rgb(170, 170, 170);
    font-size: 0.9rem;
    margin-top: 1rem;
    letter-spacing: 0.05rem;
}

.landing-page-join-btn > p > a {
    color: rgb(0, 68, 255);
    font-weight: bold;
}

@media (hover) {
    .landing-page-join-btn > a:hover {
        background: rgb(255, 0, 0);
    }
}

@media screen and (min-width:1367px){

    .landing-page-header-container {
        width: 850px;
    }

    .landing-page-header {
        font-size: 4rem;
    }

    .landing-page-text-content >
    .landing-page-text {
        font-size: 1.4rem;
    }

    .landing-page-join-btn > a {
        font-size: 1.3rem;
    }

    .landing-page-join-btn > a > i {
        font-size: 0.9rem;
    }

    .landing-page-join-btn > p {
        font-size: 1rem;
    }

}

@media screen and (max-width: 899px) {
    .landing-page-img {
        min-height: 100vh;
        background: linear-gradient(to top, rgb(0, 0, 0),
        rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.2)), url("images/landing_page.jpg");
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .landing-page-header-container {
        width: 460px;
    }

    .landing-page-header {
        font-size: 2rem;
        margin-bottom: 0.8rem;
    }

    .landing-page-text-content >
    .landing-page-text {
        font-size: 1rem;
        margin-bottom: 0.8rem;
        line-height: 1.5;
    }

    .landing-page-join-btn {
        margin-top: 0;
    }

    .landing-page-join-btn > a {
        font-size: 1.1rem;
        padding: 0.8rem 1rem;
    }
}

@media screen and (max-width:665px) {
    .landing-page-img {
        min-height: 100vh;
        background: linear-gradient(to top, rgb(0, 0, 0),
        rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.2)), url("images/mobile.jpg");
        background-position: right center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

    .landing-page-header-container {
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media screen and (max-width:415px) {
    .landing-page-header-container {
        width: 95%;
        transform: translateX(-50%, -50%);
        text-align: center;

    }
}

@media screen and (max-width:350px) {
    .landing-page-header {
        font-size: 1.5rem;
    }

    .landing-page-text-content >
    .landing-page-text {
        font-size: 0.9rem;
    }

    .landing-page-join-btn > a {
        font-size: 0.9rem;
    }

    .landing-page-join-btn > a > i {
        font-size: 0.7rem;
    }

    .landing-page-join-btn > p {
        font-size: 0.8rem;
    }
}
/*==================
END OF LANDIING PAGE
====================*/

/*=============
NAVIGATION MENU
===============*/

.nav-container {
    background: rgb(43, 43, 43);
}

.my-brand-container {
    background: rgb(24, 24, 24);
}

.my-brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    width: 90vw;
    margin: 0 auto;
}

.my-brand-wrapper > a {
    font-size: 2.7rem;
    font-family: 'Lobster', cursive, sans-serif;

    /* text linear gradient */
    background: linear-gradient(to right, rgb(255, 0, 0),
    rgb(255, 165, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* end text gradient */
}

.toggle-btns> i {
    color: rgb(235, 235, 235);
    font-size: 1.5rem;
    background: rgb(100, 100, 100);
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.hide-fa-bars {
    display: none;
}

.fa-times {
    display: none;
    padding-right: 0.69rem !important;
    padding-left: 0.69rem !important;
}

.show-fa-times {
    display: inline-block;
}

.nav-wrapper {
    width: 90vw;
    margin: 0 auto;
}

.nav-items {
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: height 0.2s linear;
}

.show-nav-items {
    height: 216px;
}

.show-nav-items1 {
    height: 410px;
}

.nav-items > li {
    text-align: center;
}

.nav-items > li > a {
    display: block;
    color: rgb(235, 235, 235);
    letter-spacing: 0.13rem;
    padding: 1rem 0;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 14px;
}

#home > a {
    padding-top: 1.5rem;
}

.user-container {
    color: rgb(235, 235, 235);
    letter-spacing: 0.06rem;
    cursor: pointer;
}


.user-chevron-icons {
    padding-bottom: 1rem;
    padding-top:  0.5rem;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-chevron-icons > p {
    display: inline-block;
    letter-spacing: 0.13rem;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 0.3rem;
}

.user-chevron-icons > i {
    font-size: 1.5rem;
    color: rgb(179, 179, 179);
}

.user-chevron-down {
    color: rgb(0, 119, 255) !important;
    font-size: 1.1rem !important;
    padding-left: 0.5rem;
}

.user-chevron-up {
    color: rgb(0, 119, 255) !important;
    font-size: 1.1rem !important;
    padding-left: 0.5rem;
    display: none;
}
.user-wrapper {
    height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.show-user-wrapper {
    height: 208px;
    border-radius: 10px;
}

.user-wrapper > a {
    display: block;
    color: rgb(235, 235, 235);
    letter-spacing: 0.06rem;
    font-size: 14px;
    padding: 1rem 0;
    padding-bottom: 0.5rem;
}

.user-wrapper > a:first-child {
    padding-top: 0;
}

#about {
    padding-bottom: 1rem !important;
}

@media (hover) {
    .nav-items > li > a:hover,
    .user-wrapper > a:hover,
    .user-chevron-icons:hover{
        color: rgb(255, 89, 0);
    }
}

@media screen and (min-width:900px) {
    .nav-width {
        display: flex;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
    }

    .my-brand-container {
        background: none;
    }

    .my-brand-wrapper {
        width: initial;
        margin: 0;
        padding: 0.8rem 0;
    }

    .toggle-btns {
        display: none;
    }

    .nav-wrapper {
        width: initial;
        margin: 0 0 0 auto;

    }

    .nav-items {
        overflow: visible;
        height: auto;
        display: flex;
        align-items: center;
    }

    .nav-items > li {
        text-align: start;
    }

    .nav-items > li > a {
        padding: 1rem 1.2rem;
    }

    .user-container {
        position: relative;
    }

    #home > a {
        padding-top: 1rem;
    }

    .about {
        padding-bottom: 0 !important;
        padding-right: 0 !important;
    }

    .user-chevron-icons {
        padding: 1rem 1.2rem;
        padding-right: 0;
        display: flex;
        align-items: center;
    }

    .user-chevron-icons > p {
        display: initial;
        letter-spacing: 0.13rem;
        padding-left: 0.5rem;
    }
    
    .user-chevron-icons > i {
        font-size: 1.5rem;
        color: rgb(179, 179, 179);
    }
    
    .user-chevron-down {
        color: rgb(0, 119, 255) !important;
        font-size: 1rem !important;
    }
    
    .user-chevron-up {
        color: rgb(0, 119, 255) !important;
        font-size: 1rem !important;
    }

    .user-wrapper {
        position: absolute;
        top: 61px;
        left: 19px;
        z-index: 3;
        width: 100%;
        background: rgb(43, 43, 43);
        margin-top: 0.5rem;
        border-radius: 10px;
        transition: height 0.1s linear;
    }

    .user-wrapper > a:first-child {
        padding-top: 1rem;
    }

    .user-wrapper > a {
        padding-left: 1rem !important;
    }
}

/*=============
END OF NAV MENU
===============*/


/*=================
SLIDER BANNER IMAGES 
====================*/

.slider-container {
    position: relative;
}

.slider-wrapper {
    display: flex; 
    overflow-x: hidden; 
}

.slider-img-wrapper {
    flex: 0 0 100%;
    position: relative;
}

.slider-img-wrapper > img {
    width: 100%; 
    height: auto; 
    display: block;
}

.slider-header-text {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.slider-header-text > h1 {
    color: rgb(255, 255, 255);
    letter-spacing: 0.1rem;
    font-size: 3rem;
    font-weight: 500;
}

.slider-header-text > p {
    color: rgb(221, 221, 221);
    letter-spacing: 0.06rem;
    margin-top: 1rem;
    font-size: 16px;
    padding: 0 1rem;
}

.slider-header-text > a {
    padding: 0.9rem 0;
    width: 140px;
    background: rgb(255, 6, 0);
    color: rgb(238, 238, 238);
    letter-spacing: 0.06rem;
    border-radius: 23px;
    font-size: 1rem;
    text-align: center;
    transition: background 0.15s linear;
    margin-top: 1.5rem;
}

.slider-header-text > .img-btn2 {
    background: rgb(255, 6, 0);
}


.slider-header-text > .img-btn3 {
    background: rgb(255, 6, 0);
}

.slider-img-color-overlay {
    position:absolute; 
    z-index: 1;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6));
    /* background: rgba(0, 0, 0, 0.57); */
}

.slider-btns {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    transition: visibility 3s linear;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (hover) {
    .slider-container:hover 
    .slider-btns {
        visibility: visible;
    }
}

#previous {
    display: flex;
    align-items: center;
    justify-content: center;    
    color: rgb(204, 204, 204);
    /* width: 50px;
    height: 50px; */
    background: none;
    margin-left: 2rem;
    /* border-radius: 50%; */
    cursor: pointer;
    border: none !important;
    font-size: 1.3rem;
}

#next {
    display: flex;
    align-items: center;
    justify-content: center;    
    color: rgb(204, 204, 204);
    /* width: 50px;
    height: 50px; */
    background: none;
    margin-right: 2rem;
    /* border-radius: 50%; */
    cursor: pointer;
    border: none !important;
    font-size: 1.3rem;
}

.circles {
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: flex;
}

.circles > .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    margin-left: 0.4rem;
    margin-bottom: 0.4rem;
    cursor: pointer;
}

.mobile-slider-container {
    display: none
}

@media screen and (max-width:1000px) {
    .slider-header-text > h1 {
        color: rgb(255, 255, 255);
        letter-spacing: 0.1rem;
        font-size: 2.5rem;
        font-weight: 500;
    }

    #previous {
        font-size: 1.1rem;
        margin-left: 1rem;
    }
    
    #next {
        font-size: 1.1rem;
        margin-right: 1rem
    }

    .circles {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .slider-container {
        display: none;
    }

    .mobile-slider-container {
        display: block;
        position: relative;
    }

    .mobile-slider-img-wrapper {
        flex: 0 0 100%;
        position: relative;
    }

    .mobile-slider-img-wrapper > img {
        width: 100%; 
        height: auto; 
        display: block;
    }
    
    .slider-header-text > h1 {
        letter-spacing: 0.06rem;
        font-size: 2rem;
    }

    .slider-header-text > p {
        font-size: 16px;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .mobile-slider-btns {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        transition: visibility 3s linear;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #previous {
        font-size: 1rem;
        margin-left: 1rem;
    }
    
    #next {
        font-size: 1rem;
        margin-right: 1rem
    }
}

@media screen and (max-width: 500px) {
    .mobile-slider-img-wrapper {
        overflow-y: hidden !important;
    }

    .slider-header-text > h1 {
        letter-spacing: 0.06rem;
        font-size: 1.7rem;
    }
    
    .slider-header-text > p {
        font-size: 14px;
    }
    
    .slider-header-text > a {
        padding: 0.8rem 0;
        width: 120px;
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .slider-header-text > h1 {
        font-size: 1.5rem;
    }
    
    .slider-header-text > p {
        font-size: 12px;
    }
    
    .slider-header-text > a {
        padding: 0.7rem 0;
        width: 110px;
        font-size: 12px;
    }
}

@media screen and (max-width: 300px) {
    .slider-header-text > h1 {
        font-size: 1.2rem;
    }
    
    .slider-header-text > p {
        display: none;
    }
    
    .slider-header-text > a {
        padding: 0.7rem 0;
        font-size: 12px;
    }

    #previous {
        font-size: 0.9rem;
        margin-left: 0.5rem;
    }
    
    #next {
        font-size: 0.9rem;
        margin-right: 0.5rem
    }
}

/*======================
END SLIDER BANNER IMAGES 
========================*/

/*====
FOOTER
======*/

.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem 0;
    width: 90%;
    margin: 0 auto;
}

.footer-quick-links {
    text-align: center;
    /* border: 1px solid white; */
}

.about-us > h2 {
    font-size: 2.5rem !important;
    font-family: 'Lobster', cursive, sans-serif;
    font-weight: normal;
    /* text linear gradient */
    background: linear-gradient(to right, rgb(255, 0, 0),
    rgb(255, 165, 0), rgb(255, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* end text gradient */
    padding: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    /* border: 1px solid white */
}

.about-us > p {
    color: rgb(201, 201, 201);
    letter-spacing: 0.06rem;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 0.3rem;
}

.footer-quick-links > h2 {
    font-size: 1.2rem;
    color: rgb(255, 81, 0);
    letter-spacing: 0.06rem;
    padding-bottom: 0.5rem;
    padding-top: 0.3rem;
}

.footer-quick-links > a{
    display: block;
    color: white;
    padding: 0.5rem 0;
    padding-bottom: 0.25rem;
    letter-spacing: 0.06rem;
    /* font-size: 1rem; */
}

.footer-quick-links> 
.contact-contents > 
.contact-content {
    padding-bottom: 1rem; 
}

#contact-content {
    padding-bottom: 0;
}

.footer-quick-links> 
.contact-contents > 
.contact-content > h5{
    color: white;
    padding: 0.5rem 0;
    padding-bottom: 0.25rem;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    /* border: 1px solid white; */
}

#email, #phone {
    color: rgb(0, 81, 255) !important
}

#email:hover, #phone:hover {
    color: rgba(0, 81, 255, 0.658) !important
}

.phone, .address {
    padding-top: 0 !important
}

.footer-quick-links> 
.contact-contents > 
.contact-content> h5 > i {
    color: rgb(255, 123, 0);
    padding-right: 0.3rem;
    font-size: 1.1em;
}

.footer-quick-links> 
.contact-contents >
.contact-content > a {
    color: rgb(201, 201, 201);
    font-size: 0.9em;
    letter-spacing: 0.06rem;
}

.footer-quick-links> 
.contact-contents > 
.contact-content > p {
    color: rgb(201, 201, 201);
    letter-spacing: 0.06rem;
    font-size: 0.9rem;
    line-height: 1.5;
}

.footer-end {
    background: rgb(31, 31, 31);
    color: rgb(190, 190, 190);
    padding: 0.5rem 0;
    letter-spacing: 0.08rem;
    font-size: 1.3rem;
}

.footer-end > p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-end > p > span {
    font-size: 14px !important;
}

@media screen and (min-width: 650px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1500px) {
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/*===========
END OF FOOTER
=============*/

/*=======
HOME PAGE
=========*/

.album-container {
    width: 90vw;
    margin: 0 auto;
    padding-top: 3rem;
}

.album-container:last-child {
    padding-bottom: 4rem;
}

.albums {
    display: flex;
    flex-direction: column;
}

.album-container > h1 {
    /* text-transform: capitalize; */
    letter-spacing: 0.09rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.6rem;
    color: rgb(255, 81, 0);
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid rgb(46, 46, 46);
}

.album-container > h1 > a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    letter-spacing: 0.09rem;
    font-weight: 400;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.15px linear;
}

@media (hover) {
    .album-container > h1 > a:hover {
        border-bottom: 1px solid rgb(255, 255, 255);
    }
}

.album-container > h1 > p {
    flex: 0 0 100%;
    font-size: 16px;
    padding-top: 1rem;
    letter-spacing: 0.09rem;
    color: rgb(221, 221, 221);
    font-weight: 400;
}

.album-wrapper {
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    border-radius: 10px;
    transition: transform 0.25s linear;
}

@media (hover) {
    .album-wrapper:hover {
        transform: scale(1.04);
    }
}

.album-wrapper > img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.background-overlay {
    position: absolute;
    background: linear-gradient(to top,rgb(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.album-text-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 1rem;
    border-radius: 10px;
}

.album-text-wrapper > h2 {
    color: rgb(235, 235, 235);
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: 0.06rem;
}

.album-text-wrapper > h2 > i {
    font-size: 0.9rem;
    color: rgb(161, 161, 161);
    margin-left: 1rem;
}

.flex-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 0 1rem 0.5rem 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.album-author {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.flex-box >
.album-author > i {
    color: rgb(151, 151, 151);
    font-size: 1.3rem;
}

.flex-box >
.album-author > p {
    color: rgb(196, 196, 196);
    text-transform: capitalize;
    padding-left: 0.5rem;
    letter-spacing: 0.05rem;
}

.thumbs-up-down {
    display: flex;
    align-items: center;
}

.thumbs-down, .thumbs-up {
    display: flex;
    align-items: center;
    color: rgb(235, 235, 235);
    font-size: 0.8rem;
}

.thumbs-up > i {
    padding-right: 0.5rem;
}

.thumbs-up > i {
    color: rgb(72, 0, 255);
    font-size: 1.1rem;
}

.thumbs-down > p {
    padding-left: 1rem;
    padding-right: 0.5rem;
}

.thumbs-down > i {
    color: rgb(0, 255, 72);
    font-size: 1.1rem;
}

.play-btn {
    background: rgba(0, 0, 0, 0.55);
    font-size: 1.5rem;
    border-radius: 50%;
    color: rgb(255, 72, 0) !important;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
}

@media (hover) {
    .play-btn:hover {
        /* color: rgb(0, 132, 255) */
        color: rgb(255, 166, 0) !important;
    }
}

#prevent-default {
    cursor: inherit;
}

@media screen and (min-width:700px) {

    .album-container > h1 {
        margin-bottom: 1rem;
    }

    .albums {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .album-wrapper {
        margin-bottom: 0;
    }
}

@media screen and (min-width:1000px) {
    .albums {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width:1300px) {
    .albums {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/*==============
CREATE NEW ALBUM
================*/
.create-album-body {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.5)), url("images/landing_page.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* .create-album-container {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
} */

.create-album-container {
    position: absolute;
    left: 0;
    width: 100vw;
    animation-name: create-album-drop-form;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 0.7s;
}

@keyframes create-album-drop-form {
    from {
       top: -100%
    }
    to {
        top: 50%; 
        transform: translateY(-50%);
    }
}

.create-album-wrapper {
    width: 90vw;
    max-width: 450px;
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 0.8rem;
    background: rgba(11, 31, 86, 0.8);
}

.create-album-wrapper > h2 {
    color: rgb(209, 209, 209);
    letter-spacing: 0.06rem;
}

.create-album-wrapper > p {
    color: rgb(255, 72, 0);
    letter-spacing: 0.06rem;
}

label {
    color: rgb(196, 196, 196);
    letter-spacing: 0.06rem;
}

input, select {
    box-shadow: none !important;
}

#id_album_cover {
    color: rgb(196, 196, 196);
    letter-spacing: 0.06rem;
    font-size: 0.9rem
}

.create-album-submit {
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    color: white;
    background: rgb(0, 89, 255);
    border-radius: 0.5rem;
    outline: none !important;
    cursor: pointer;
    border: 2.5px solid transparent !important;
    transition: border 0.15s linear;
}

.create-album-cancel {
    display: block;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    color: white;
    background: rgb(100, 100, 100);
    text-decoration: none;
    border: 2.5px solid transparent !important;
    transition: border 0.15s linear;
}



@media (hover) {
    .create-album-submit:hover {
        border: 2.5px solid rgb(0, 204, 255) !important
    }

    .create-album-cancel:hover {
        text-decoration: none;
        color: white;
        border: 2.5px solid rgb(204, 204, 204) !important
    }
}

/*======
REGISTER
======== */


/*=============
END OF REGISTER
===============*/

/*===
LOGIN
=====*/
.sign-in-message-container {
    text-align: center;
}

.already-signed-in {
    color: white !important;
    letter-spacing: 0.06rem !important;
    font-size: 1.5rem;
}

.sign-in-go-home {
    color: white;
    padding: 0.8rem 2rem;
    letter-spacing: 0.06rem;
    background: orangered;
    border-radius: 0.5rem;
}

@media (hover) {
    .sign-in-go-home:hover {
        color: white;
        text-decoration: none;
    }
}

/*==========
END OF LOGIN
============*/

/*========
PLAY ALBUM 
==========*/

.music-player-container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.music-player-wrapper {
    max-width: 600px;
    flex: 0 0 100%;
    position: relative;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(20, 20, 20);
    background: rgb(41, 41, 41);
}

.music-player-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.music-player-header > h4 {
    color: rgb(255, 123, 0);
    /* width: 400px; */
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
    text-transform: capitalize;
    letter-spacing: 0.06rem;
    font-weight: 500;
 }
 
 .music-player-header > i {
     font-size: 1.3rem;
     cursor: pointer;
     color: rgb(0, 225, 255);
 }

.album-cover {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.album-cover-img-wrapper {
    position: relative;
}

.album-cover-img-wrapper > img {
    width: 100%;
    height: auto;
    display: block;
}

.album-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
}

.album-like-dislike {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent;

}

.album-like-dislike > p, 
.album-like-dislike > div {
    padding: 1rem;
}

.album-like-dislike > p {
    letter-spacing: 0.06rem;
    text-transform: capitalize;
    font-size: 0.98rem
}

.hide-album-cover {
    height: 0;
    overflow: hidden;
}

.music-player {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
}

.show-music-player {
    max-height: 600px;
}

/* google chrome scrollbar */

.song-container::-webkit-scrollbar-thumb {
    background-color: rgb(51, 138, 153);
  }
.song-container::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 1px 4px rgb(37, 37, 37);
  }

/* .song-container::-webkit-scrollbar-corner {
    background-color: rgb(0, 128, 0);
  } */

.song-container::-webkit-scrollbar {
    width: 0.8rem;
  }
  
/* end of goolge chrome scrollbar */

.song-container {
    overflow-y: scroll;
    height: 281.11px;
    background: rgb(51, 51, 51);
}

.song-container > div > p {
    padding: 0.5rem 1rem;
    transition: background 0.1s linear;
    cursor: pointer;
}

.song-container > div > p > span {
    margin-left: 0.5rem;
    letter-spacing: 0.06rem !important;
}

.song-container > p {
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.06rem !important;
}

@media (hover){
    .song-container > div > p:hover {
        background: rgb(71, 71, 71);
    }
}

.song-container > div > p > span {
    letter-spacing: 0.06rem;
}

.album-side-menu {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.9);
    transition: width 0.03s linear
}

.show-side-menu {
    width: 100%;
    border: 1px solid rgb(36, 36, 36);
    transition: width 0.15s linear
}

.album-side-menu > a, 
.album-side-menu > p,
.album-side-menu >  i{
    display: block;
    padding: 1rem;
    color: white;
    cursor: pointer;
    letter-spacing: 0.06rem;
    transition: background 0.09s linear
}

.album-side-menu >  i{
    text-align: end;
    font-size: 1.5rem;
}

@media (hover) {
    .album-side-menu > a:hover, 
    .album-side-menu > p:hover {
        background: rgb(71, 71, 71);
    }
}

.album-side-menu >
.close-song-list-toggle {
    display: none;
}

.album-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.album-control >
.random, .backward,
.forward, .redo {
    padding: 1rem 1.5rem;
    cursor: pointer;
    color: white;
}

.album-control >
.album-play-btn >
.play, .pause {
    padding: 1rem 1.5rem;
    cursor: pointer;
    color: white;
}

#pause-btn {
    display: none;
}

.progres-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(41, 41, 41);
    padding: 0 1rem 1rem 1rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.duration-bar {
    flex: 1;
    margin: 0 0.5rem;
    height: 10px;
}

.initial-time,
.end-time {
    font-size: 0.95rem;
}

@media screen and (max-width: 400px) {
   .album-control {
       font-size: 0.9rem;
   }
   .album-control > i, 
   .album-control > div > i {
       padding-right: 0.8rem !important;
       padding-left: 0.8rem !important;
   }
}

/*===============
END OF PLAY ALBUM
=================*/
