{% extends "music/index.html" %}


<title>
    {% block title %}
        {{ genre }}
    {% endblock title %}
</title>


{% block content %}
<div class="album-container">
    <h1>
        {{ genre }}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, earum!</p>
    </h1>
    <div class="albums">
        {% for album in genre_albums %}
            <div class="album-wrapper">
                <img src="{{ album.album_cover.url }}" alt="">
                <div class="background-overlay"></div>
                <div class="album-text-wrapper">
                    <h2>{{ album.title }}</h2>
                    <div class="flex-box">
                        <div class="album-author">
                            <i class="fas fa-user-circle"></i>
                            <p>{{ album.user.username }}</p>
                        </div>
                        <div class="thumbs-up-down">
                            <a id="prevent-default" class="thumbs-up" href="#">
                                <i class="fas fa-thumbs-up"></i>
                                <p>{{ album.thumbs_up }}</p>
                            </a>
                            <a id="prevent-default" class="thumbs-down" href="#">
                                <p>{{ album.thumbs_down }}</p>
                                <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <a class="play-btn" href="{% url 'music:play-album' album.pk %}"><i class="fa-solid fa-play"></i></a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}