{% extends "music/index.html" %}
{% load static %}


<title>
    {% block title %}
        About us
    {% endblock title %}
</title>

{% block content %}

<style type="text/css">

    .about-us-container {
        width: 90vw;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .about-us-container > h1 {
        letter-spacing: 0.09rem;
        font-size: 1.6rem;
        color: rgb(255, 81, 0);
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid rgb(46, 46, 46);
    }

</style>

<div class="about-us-container">
    <h1>
        About us
    </h1>
</div>


{% endblock content %}