{% extends "music/index.html" %}
{% load static %}


<title>
    {% block title %}
        About us
    {% endblock title %}
</title>

{% block content %}

<style type="text/css">

    .about-us-container {
        width: 90vw;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .about-us-container > h1 {
        letter-spacing: 0.09rem;
        font-size: 1.6rem;
        color: rgb(255, 81, 0);
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid rgb(46, 46, 46);
    }

    .about-content-wrapper {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-wrap: wrap;
        padding-top: 2rem;
    }

    .about-content-wrapper >
    .about-img-container {
        flex: 1;
        position: relative;
        /* border: 1px solid white; */
    }

    .about-content-wrapper >
    .about-text-container {
        flex: 1;
        padding: 1rem;
        padding-bottom: 0;
        margin-left: 1rem;
        text-align: center;
    }

    @media screen and (max-width: 700px) {
        .about-content-wrapper >
        .about-img-container,
        .about-text-container {
            flex: 0 0 100%;
            margin-left: 0 !important;
        }
    }

    .about-content-wrapper >
    .about-img-container >
    img {
        width: 100%;
        height: auto;
        display: block;
    }

    .about-content-wrapper >
    .about-img-container >
    div {
        position: absolute;
        /* top: 0; */
        bottom: 0;
        left: 0;
        z-index: 2;
    }

    .about-content-wrapper >
    .about-img-container >
    div > img {
        width: 100%;
        height: auto;
        display: block;
        filter: opacity(30%);
        /* border: 1px solid white; */
    }

    .about-content-wrapper >
    .about-text-container >
    p {
        color: rgb(214, 214, 214);
        letter-spacing: 0.1rem;
        line-height: 1.6;
        font-size: 1.1rem;
    }

    .about-content-wrapper >
    .about-text-container >
    a {
        padding: 1rem 2rem;
        text-align: center;
        background: orangered;
        border-radius: 23px;
        margin-top: 2rem;
        letter-spacing: 0.07rem;
        color: rgb(255, 255, 255);
        transition: background 0.25s linear;
    }

    .about-content-wrapper >
    .about-text-container >
    a:hover {
        color: rgb(255, 255, 255);
        background: rgb(255, 128, 0);
    }

</style>

<div class="about-us-container">
    <h1>
        About us
    </h1>
    <div class="about-content-wrapper">
        <div class="about-img-container">
            <img src="{% static 'music/images/about-img.jpg' %}" alt="">
            <div>
                <img class="about-img2" src="{% static 'music/images/about-img2.png' %}" alt="">
            </div>
        </div>
        <div class="about-text-container">
            <h2 style="color: white; letter-spacing: 0.07rem; text-transform: capitalize; padding: 1rem 0;">Lorem ipsum dolor</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quod ipsa eligendi harum modi labore assumenda aspernatur
                architecto similique! Dolores officia necessitatibus a
                aliquam commodi fugit cupiditate vel, quae debitis voluptate.
            </p>
            <a href="{% url 'music:contact-us' %}" class="about-us-btn">Contact us</a>
        </div>
    </div>
</div>


{% endblock content %}
