{% extends "music/index.html" %}
{% load static %}


<title>
    {% block title %}
        Contact us
    {% endblock title %}
</title>

{% block content %}

<style type="text/css">

    .contact-us-container {
        width: 90vw;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contact-us-container > h1 {
        letter-spacing: 0.09rem;
        font-size: 1.6rem;
        color: rgb(255, 81, 0);
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom: 1px solid rgb(46, 46, 46);
    }

</style>

<div class="contact-us-container">
    <h1 class="contact-us-header">
        Contact us
    </h1>
    <div class="contact-us-wrapper">

        <div class="contact-us-1">
            <div class="contact-us-address">
                <h3>Address</h3>
            </div>
            <div class="contact-us-phone">
                <h3>Phone</h3>
            </div>
            <div class="contact-us-email">
                <h3>Email</h3>
            </div>
        </div>

        <div class="contact-us-2">

        </div>

        <div class="contact-us-3">

        </div>
        
    </div>
</div>


{% endblock content %}