<style>
    .form-content {
        text-align: start;
        margin-top: 1rem;
        padding: 1.5rem;
        background: rgb(61, 61, 61);
        border-radius: 10px;
    }
    p > label {
        color: rgb(202, 202, 202);
        font-size: 1rem;
    }
    p > input, textarea {
        display: block;
        width: 100%;
        padding: 0.8rem;
        outline: none;
        border: none;
        margin-top: 0.5rem;
        border-radius: 10px;
        margin-bottom: 0.8rem;
        background: rgb(218, 218, 218);
        color: rgb(0, 0, 0);
        resize: none;
        font-size: 1rem;
    }

    p > textarea {
        height: 120px;
        display: block;
        width: 100%;
    }

    .message-submit {
        color: white;
        padding: 1rem;
        background: orangered;
        border-radius: 10px;
        outline: none;
        box-shadow: none;
        border: none;
        font-size: 1rem;
        letter-spacing: 0.06rem;
        text-align: center;
        width: 100%;
        display: block;
        cursor: pointer;
    }
</style>

<div class="footer-container">
    <div class="footer-quick-links">
        <h2>Quick links</h2>
        <a href="{% url 'music:home' %}" class="quick-link-home">Home</a>
        <a href="{% url 'music:my-albums' %}?string=My albums" class="quick-link-my-albums">My albums</a>
        <a href="{% url 'music:all-albums' 'latest albums' %}" class="quick-link-latest-albums">Latest albums</a>
        <a href="#" class="quick-link-about-us">Contact us</a>
        <a href="#" class="quick-link-about-us">About us</a>
        <a href="#" class="quick-link-about-us">Privacy & policy</a>
    </div>
    <!-- <div class="footer-exteral-links">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
    </div> -->

    <div class="footer-quick-links">
        <h2 id="contact-us">Contact us</h2>
        <div id="contact-contents" class="contact-contents">
            <div class="contact-content">
                <h5 class="email"><i class="fa fa-envelope"></i>Email</h5>
                <a id="email" href="mailto:shinhosuck1973@gmail.com">samplemail@gmail.com</a>
            </div>
            <div class="contact-content">
                <h5 class="phone"><i class="fa fa-phone"></i>Phone </h5>
                <a id="phone" href="tel:+1-916-000-000">+1(916)-000-000</a>
            </div>
            <div id="contact-content" class="contact-content">
                <h5 class="address"><i class="fas fa-address-card"></i>Address</h5>
                <p>
                    Cloud Music<br>
                    12345 Street name<br>
                    City name, State<br>
                    USA, 67890
                </p>
            </div>
        </div>
    </div>
    <div class="footer-quick-links">
        <h2>Leave a message</h2>
        <form class="form-content" action="{% url 'users:message' %}" method="POST">
            {% csrf_token %}
            {{ user_message_form.as_p }}
            <button class="message-submit" type="submit">Send message</button>
        </form>
    </div>
</div>
<div class="footer-end">
    <p>&copy <span>2023 CloudMusic. All rights reserved.</span></p>
</div>