{% extends "music/index.html" %}

<title>
    {% block title %}
        My Albums
    {% endblock title %}
</title>


{% block content %}

<div class="album-container" style="padding-bottom: 3rem;">
    <h1 style="justify-content: flex-start;">
        My albums 
        <span style="font-size: 1rem; padding-left: 1rem; color: orangered; 
                    text-transform: initial; letter-spacing: 0.07rem;">
            click an album to add song
        </span> 
        </h1>
    <div class="albums">
        {% for album in albums %}
            <div class="album-wrapper add-new-song">
                <img src="{{ album.album_cover.url }}" alt="">

                <div class="background-overlay"></div>

                <div class="album-text-wrapper">
                    <h2>{{ album.title }}</h2>
                    <div class="flex-box">
                        <div class="album-author">
                            <i class="fas fa-user-circle"></i>
                            <p>{{ album.user.username }}</p>
                        </div>
                        <div class="thumbs-up-down">
                            <a id="prevent-default" class="thumbs-up" href="#">
                                <i class="fas fa-thumbs-up"></i>
                                <p>{{ album.thumbs_up }}</p>
                            </a>
                            <a id="prevent-default" class="thumbs-down" href="#">
                                <p>{{ album.thumbs_down }}</p>
                                <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <a id="prevent-default" class="play-btn" href="#">
                    <i class="fa-solid fa-play" style="color: gray"></i>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script>

    const addNewSongs = document.querySelectorAll(".add-new-song")

    addNewSongs.forEach((song)=>{
        song.addEventListener("click", ()=>{
            alert("hello world")
        })
    })

</script>
{% endblock content %}