{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="ScreenOrientation" content="autoRotate:disabled"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}">
    <title>Playing {{ album.title }}</title>
</head>
<body class="landing-page-img">
    <!-- large screen player -->
    <div class="music-player-container">
        <div class="music-player-wrapper">
            <div class="music-player-header">
                <h4 title="{{ album.title }}">{{ album.title|truncatechars:20 }}</h4>
                <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div class="album-cover">
                <div class="album-cover-img-wrapper">
                    <img src="{{ album.album_cover.url }}" alt="">
                    <div class="album-background-overlay"></div>
                    <div class="album-like-dislike">
                        <p class="album-song-title">unknown song title</p>
                        {% if not album.song_set.all %}
                            <div class="thumbs-up-down">
                                <a id="prevent-default" class="thumbs-up" href="{% url 'music:like' album.pk %}">
                                    <i class="fas fa-thumbs-up"></i>
                                    <p>{{ album.thumbs_up }}</p>
                                </a>
                                <a id="prevent-default" class="thumbs-down" href="{% url 'music:dislike' album.pk %}">
                                    <p>{{ album.thumbs_down }}</p>
                                    <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                                </a>
                            </div>
                        {% else %}
                            <div class="thumbs-up-down">
                                <a class="thumbs-up" href="{% url 'music:like' album.pk %}">
                                    <i class="fas fa-thumbs-up"></i>
                                    <p>{{ album.thumbs_up }}</p>
                                </a>
                                <a class="thumbs-down" href="{% url 'music:dislike' album.pk %}">
                                    <p>{{ album.thumbs_down }}</p>
                                    <i class="fas fa-thumbs-down fa-flip-horizontal"></i>
                                </a>
                            </div>
                        {% endif %}

                        <div class="album-control-container">
                            <div class="album-control">
                                <i id="random-btn" class="fas fa-random random" title="random"></i>
                                <!-- <i id="backward-btn" class="fas fa-backward backward" title="backward"></i> -->
                                <i id="backward-btn" class="fas fa-fast-backward backward" title="backward"></i>
                                <div class="album-play-btn" title="play">
                                    <i id="play-btn" class="fas fa-play play"></i>
                                    <i id="pause-btn" class="fas fa-pause pause"></i>
                                </div>
                                <i id="forward-btn" class="fas fa-fast-forward forward" title="forward"></i>
                                <!-- <i id="forward-btn" class="fas fa-forward forward" title="forward"></i> -->
                                <i id="redo-btn" class="fas fa-redo-alt redo" title="redo"></i>
                            </div>
                            <div class="progres-bar-container">
                                <p class="initial-time">0:00</p>
                                <progress class="duration-bar" id="progress-bar" value="0"></progress>
                                <p class="end-time">0:00</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        
            <div class="album-side-menu">
                <i class="fa fa-times close-side-menu"></i>
                <a href="{% url 'music:home' %}">Home</a>
                <p class="song-list-toggle">See Song List</p>
                <p class="close-song-list-toggle">Close Song List</p>
                <a href="{% url 'music:all-albums' 'latest albums' %}">Latest Albums</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'music:add-song' album.pk %}">Add new song</a>
                    <a href="{% url 'music:all-albums' 'recently played'%}">Recently Played</a>
                {% endif %}
            </div>
            <div class="music-player">
                {% if songs %}
                    <div class="song-container">
                        <div>
                            {% for song in songs %}
                                <audio id="audio" class="song-file" src="{{ song.song_file.url }}"></audio>
                            {% endfor %}
                        </div>
                        
                        <div>
                            {% for song in songs %}
                            <p class="song">
                                <span id="song" style="margin-left: 0;">{{ forloop.counter }}. {{ song.title }}</span>
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="song-container">
                        <p class="song">
                            <span style="margin-left: 0; text-transform: none;">No songs available!</span>
                        </p>
                    </div>
                {% endif %}
                <div class="album-control" style="position: relative;">
                    <i id="random-btn" class="fas fa-random random" title="random"></i>
                    <i id="backward-btn" class="fas fa-fast-backward backward" title="backward"></i>
                    <div class="album-play-btn" title="play" style="background: transparent;">
                        <i id="play-btn" class="fas fa-play play" style="position: relative;background: transparent; color: white;">
                        </i>
                    </div>
                    <i id="forward-btn" class="fas fa-fast-forward forward" title="forward"></i>
                    <i id="redo-btn" class="fas fa-redo-alt redo" title="redo"></i>
                    <div class="album-background-overlay-control" style="background: rgba(0, 0, 0, 0.5)"></div>
                </div>
                <div class="progres-bar-container" style="position: relative;">
                    <p class="initial-time">0:00</p>
                    <progress class="duration-bar" id="duration-bar" value="0"></progress>
                    <p class="end-time">0:00</p>
                    <div class="album-background-overlay" style="border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;
                    background: rgba(0, 0, 0, 0.5)"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end -->

    <!-- mobile player -->
    <div class="mobile-player-container">
        
        <div class="mobile-player-wrapper">
            <div class="mobile-player-album-title-container">
                <p class="mobile-player-album-title">{{ album.title }}</p>
                <i class="fa-solid fa-ellipsis mobile-player-ellipsis"></i>
            </div>
            <div class="mobile-player-album-cover-container">
                <img src="{{ album.album_cover.url }}" alt="">
            </div>
            <div class="mobile-player-album-control">
                <div class="mobile-progres-bar-container">
                    <p class="mobile-initial-time">0:00</p>
                    <progress id="mobile-duration" class="mobile-duration-bar" value="0"></progress>
                    <p class="mobile-end-time">0:00</p>
                </div>
                <div class="mobile-album-control">
                    <i id="mobile-random" class="fas fa-random" title="random"></i>
                    <i id="mobile-backward" class="fas fa-fast-backward" title="backward"></i>
                    <div class="mobile-play-btn" title="play">
                        <i id="mobile-play" class="fas fa-play"></i>
                        <i id="mobile-pause" class="fas fa-pause" style="display: none"></i>
                    </div>
                    <i id="mobile-forward" class="fas fa-fast-forward" title="forward"></i>
                    <i id="mobile-redo" class="fas fa-redo-alt" title="redo"></i>
                </div>
            </div>
        </div>
        <div class="mobile-player-side-menu">
            <div class="mobile-player-close">
                <i class="fa fa-times mobile-player-times"></i>
            </div>
            
        </div>
    </div>
    <!-- end -->

    <script type="text/javascript">
        const musicPlayerWrapper = document.querySelector(".music-player-wrapper")
        const ellipsis = document.querySelector(".fa-ellipsis")
        const musicplayer = document.querySelector(".music-player")
        const albumCover = document.querySelector(".album-cover")
        const times = document.querySelector(".fa-times")
        const musicPlayerHeader = document.querySelector(".music-player-header")
        const body = document.querySelector("body")
        const albumSideMenu = document.querySelector(".album-side-menu")
        const closeSideMenu = document.querySelector(".close-side-menu")
        const songListToggle = document.querySelector(".song-list-toggle")
        const closeSongListToggle = document.querySelector(".close-song-list-toggle")
        let songList = document.querySelectorAll(".song")
        const songs = [...songList]
        const albumLikeDislike = document.querySelector(".album-like-dislike")
        let songFiles = document.querySelectorAll(".song-file")

        // ALBUM CONTROL
        const progressBar = document.querySelector("#progress-bar")
        const pauseBtn = document.querySelector("#pause-btn")
        const playBtn = document.querySelector("#play-btn")
        const forward = document.querySelector(".forward")
        const backward = document.querySelector(".backward")
        const play = document.querySelector(".play")
        const pause = document.querySelector(".pause")
        const random = document.querySelector(".random")
        const redo = document.querySelector(".redo")

        let index = 0

        function stopLoop() {
            console.log("hello world")
            location.reload()
        }


        let current_song_title = songs[index].firstElementChild.textContent
        
        albumLikeDislike.firstElementChild.textContent = current_song_title

        window.addEventListener("resize", ()=>{
            if(window.innerWidth > 500){
                albumLikeDislike.firstElementChild.textContent = current_song_title
            }
        })

        songs.forEach(function(item){
            item.addEventListener("click", ()=>{
                songFiles[index].pause()
                musicplayer.classList.toggle("show-music-player")
                albumCover.classList.toggle("hide-album-cover")
                albumLikeDislike.firstElementChild.textContent = item.firstElementChild.textContent
                // current_song_title = item.firstElementChild.textContent
                songListToggle.style.display = "block"
                closeSongListToggle.style.display = "none"

                // click song to play
                index = songs.indexOf(item)
                // songFiles[index].load()
                songFiles[index].currentTime = 0
                songFiles[index].play()
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
                songFiles[index].addEventListener("ended", autoPlay)
            })
        })

        ellipsis.addEventListener("click", function(){
            albumSideMenu.classList.toggle("show-side-menu")
            closeSideMenu.style.visibility = "visible"
        })

        closeSideMenu.addEventListener("click", ()=>{
            albumSideMenu.classList.toggle("show-side-menu")
            closeSideMenu.style.visibility = "hidden"
        })

        songListToggle.addEventListener("click", ()=> {
            musicplayer.classList.toggle("show-music-player")
            albumCover.classList.toggle("hide-album-cover")
            body.style.overflow = "hidden"
            albumSideMenu.classList.toggle("show-side-menu")
            songListToggle.style.display = "none"
            closeSongListToggle.style.display = "block" 
        })

        closeSongListToggle.addEventListener("click", function(){
            musicplayer.classList.toggle("show-music-player")
            albumCover.classList.toggle("hide-album-cover")
            body.style.overflow = "hidden"
            albumSideMenu.classList.toggle("show-side-menu")
            songListToggle.style.display = "block"
            closeSongListToggle.style.display = "none" 
        })

        // click play icon to play
        play.addEventListener("click", ()=>{

            console.log(`song ${index+1} is playing`)

            songFiles[index].play()
            playBtn.style.display = 'none'
            pauseBtn.style.display = 'flex'
            albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
            songFiles[index].addEventListener("ended", autoPlay)
        })

        // click pause icon to pause
        pause.addEventListener("click", ()=>{
            songFiles[index].pause()
            playBtn.style.display = 'flex'
            pauseBtn.style.display = 'none'
        })

        // forward to next song
        forward.addEventListener("click", ()=>{
            if(index == songFiles.length - 1) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index = 0
                console.log(index)
                songFiles[index].play()
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
                
                console.log(`song ${index+1} is playing`)

                songFiles[index].addEventListener("ended", autoPlay)
            }
            else if(index < songFiles.length - 1) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index ++
                songFiles[index].play()
                console.log(index)
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent

                console.log(`song ${index+1} is playing`)
                
                songFiles[index].addEventListener("ended", autoPlay)
            }
        })

        // go back to previous song
        backward.addEventListener("click", ()=>{
            if(index == 0) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index = songs.length - 1
                songFiles[index].play()
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent

                console.log(`song ${index+1} is playing`)
                
                songFiles[index].addEventListener("ended", autoPlay)
            }
            else if(index == songFiles.length - 1 || index > 0) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index --
                songFiles[index].play()
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent

                console.log(`song ${index+1} is playing`)
                
                songFiles[index].addEventListener("ended", autoPlay)
            }
        })

        // redo song
        redo.addEventListener("click", ()=>{
            songFiles[index].currentTime = 0
            songFiles[index].play()
            playBtn.style.display = 'none'
            pauseBtn.style.display = 'flex'
            albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
        })

        // random song
        random.addEventListener("click", ()=>{
            const randomNum = Math.floor(Math.random() * songFiles.length)
            songFiles[index].pause()
            songFiles[index].currentTime = 0
            index = randomNum
            songFiles[index].play()
            playBtn.style.display = 'none'
            pauseBtn.style.display = 'flex'
            albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
        })


        function autoPlay(){
            if(index == songs.length-1) {
                index = 0
                songFiles[index].currentTime = 0
                playBtn.style.display = 'flex'
                pauseBtn.style.display = 'none'
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
                return stopLoop()
            }
            else if(index < songFiles.length - 1) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index ++
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
                songFiles[index].play()

                console.log(`song ${index+1} is playing`)

                songFiles[index].addEventListener("ended", autoPlay)
            }
        }

        // fastforward song
        progressBar.addEventListener("click", function(){
            songFiles[index].currentTime += 10
        })

        // progress bar
        songFiles.forEach((file)=>{
            file.addEventListener("timeupdate", ()=>{
                const durationBar = document.querySelector("#duration-bar")
                const mobileDuration = document.querySelector("#mobile-duration")
                let initialTime = document.querySelector(".initial-time")
                let endTime = document.querySelector(".end-time")
                
                

                progressBar.value = file.currentTime / file.duration;
                durationBar.value = file.currentTime / file.duration;
                mobileDuration.value = file.currentTime / file.duration;

            })
        })

        /* MOBILE PLAYER */ 
        const mobilePlayerEllipsis = document.querySelector(".mobile-player-ellipsis")
        const mobilePlayerSideMenu = document.querySelector(".mobile-player-side-menu")
        const mobilePlayerTimes = document.querySelector(".mobile-player-times")
        const mobilePlay = document.querySelector("#mobile-play")
        const mobilePause = document.querySelector("#mobile-pause")
        const mobileForward = document.querySelector("#mobile-forward")
        const mobileBackward = document.querySelector("#mobile-backward")
        const mobileRedo = document.querySelector("#mobile-redo")
        const mobileRandom = document.querySelector("#mobile-random")
        // const mobileDurationBar = document.querySelector("mobile-duration-bar")


        songFiles[index].addEventListener("playing", ()=>{
            mobilePlay.style.display = "none"
            mobilePause.style.display = "flex"
            playBtn.style.display = "none"
            pauseBtn.style.display = "flex"
        })

        mobilePlayerEllipsis.addEventListener("click", ()=>{
            console.log("clicked")
            mobilePlayerSideMenu.classList.toggle("show-mobile-player-side-menu")
        })

        mobilePlayerTimes.addEventListener("click", ()=>{
            mobilePlayerSideMenu.classList.remove("show-mobile-player-side-menu")
        })

        mobilePlay.addEventListener("click", ()=>{
            songFiles[index].play()
            mobilePlay.style.display = "none"
            mobilePause.style.display = "flex"
            albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
            songFiles[index].addEventListener("ended", autoPlay)
        })

        mobilePause.addEventListener("click", ()=>{
            songFiles[index].pause()
            mobilePlay.style.display = "flex"
            mobilePause.style.display = "none"
        })

        mobileForward.addEventListener("click", ()=>{
            if(index == songFiles.length - 1) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index = 0
                console.log(index)
                songFiles[index].play()
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                mobilePlay.style.display = "none"
                mobilePause.style.display = "flex"
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent
                
                console.log(`song ${index+1} is playing`)

                songFiles[index].addEventListener("ended", autoPlay)
            }
            else if(index < songFiles.length - 1) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index ++
                songFiles[index].play()
                console.log(index)
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                mobilePlay.style.display = "none"
                mobilePause.style.display = "flex"
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent

                console.log(`song ${index+1} is playing`)
                
                songFiles[index].addEventListener("ended", autoPlay)
            }
        })

        mobileBackward.addEventListener("click", ()=>{
            if(index == 0) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index = songs.length - 1
                songFiles[index].play()
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                mobilePlay.style.display = "none"
                mobilePause.style.display = "flex"
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent

                console.log(`song ${index+1} is playing`)
                
                songFiles[index].addEventListener("ended", autoPlay)
            }
            else if(index == songFiles.length - 1 || index > 0) {
                songFiles[index].pause()
                songFiles[index].currentTime = 0
                index --
                songFiles[index].play()
                playBtn.style.display = 'none'
                pauseBtn.style.display = 'flex'
                mobilePlay.style.display = "none"
                mobilePause.style.display = "flex"
                albumLikeDislike.firstElementChild.textContent = songs[index].firstElementChild.textContent

                console.log(`song ${index+1} is playing`)
                
                songFiles[index].addEventListener("ended", autoPlay)
            }
        })
        /* END MOBILE PLAYER */
        
    </script>
</body>
</html>
