{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
    <title>Sign in </title>
</head>
<body class="create-album-body">
    <div class="create-album-container">
        <div class="create-album-wrapper">
            {% if user.is_authenticated %}
                <div class="sign-in-message-container">
                    <p class="already-signed-in">{{ user.username }}, you are already signed in!</p>
                    <a class="sign-in-go-home" href="{% url 'music:home' %}">Go home</a>
                </div>
            {% else %}
                <h2>Sign in</h2>
                <form class="create-album-form" action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="create-album-submit">Sign in</button>
                    <a href="{% url 'music:home' %}" class="create-album-cancel">Cancel</a>
                </form>
            {% endif %}
        </div>
    </div>

</body>
</html>